@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 32px;
  color: #ed786a;
}
a.symbol:before {
  content: attr(title);
  font-size: 130%;
}
a.symbol:hover {
  text-decoration: none;
}
a.symbol:hover:before {
  color: #000;
}
a.social_google:before {
  content: "circlegoogleplus";
}
a.social_facebook:before {
  content: "circlefacebook";
}
a.social_youtube:before {
  content: "circleyoutube";
}
a.social_xing:before {
  content: "circlexing";
}
a.social_amazon:before {
  content: "circleamazon";
}
a.social_twitter:before {
  content: "circletwitterbird";
}
a.social_soundcloud:before {
  content: "circlespotify";
}
a.social_spotify:before {
  content: "circlesoundcloud";
}
a.social_linkedin:before {
  content: "circlelinkedin";
}
a.social_reddit:before {
  content: "circlereddit";
}
